.common_btn {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
}

.primary_btn {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}

.primary_btn:hover {
  background-color: var(--color-primary-activated);
}

.secondary_btn {
  background-color: var(--color-secondary);
  color: var(--color-secondary-text);
}

.secondary_btn:hover {
  background-color: var(--color-secondary-activated);
}

.disabled {
  background-color: var(--color-disabled);
  color: var(--color-disabled-text);
}
