.container {
  text-align: left;

  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-secondary);

  padding: 20px;
  margin: 20px;
}

.container > *:not(:last-child) {
  margin-bottom: 20px;
}
