.container {
  text-align: left;

  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-primary);

  padding: 20px;
  margin: 20px;
}

.container > *:not(:last-child) {
  margin-bottom: 20px;
}

.h4 {
  color: var(--color-primary);
  font-weight: bold;
}
