@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --color-primary: RoyalBlue;
  --color-primary-text: White;
  --color-primary-activated: #2645aa;

  --color-secondary: Grey;
  --color-secondary-text: White;
  --color-secondary-activated: #575757;

  --color-disabled: #adadad;
  --color-disabled-text: #767676;
}
